@charset "UTF-8";
:root{
    --cor0: rgb(78, 78, 5);
    --cor1: darkgray;
    --cor2: rgb(173, 173, 6);

}

*{
    margin: 0px;
    padding: 0px;
    
}

main p{
    margin: 15px 0px;

}

h1{
    margin: 15px 0px;
    
}
header{
    background-color: var(--cor2);
    min-height: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-image: linear-gradient(var);
    position: sticky;
    top: 0;
    

}

header>h1{
    background-color: var(--cor2);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-variant: small-caps;
}

article > h1 {
    padding-top: 5vh;
    padding-bottom: 5vh;

}
nav{
    background-color: var(--cor2);
    text-align: right;
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    position: sticky;
    top: 96px;
    


}
nav > a{
    padding: 5px;
    padding-top: 10px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.5s;
    
}

nav >a:hover{
    background-color: var(--cor1);
    
}



main{
    background-color: var(--cor0);
    margin: auto;
    padding: 5px;
    margin-bottom: 10px;
    min-width: 320px;
    max-width: 1400px;
    box-shadow: 0px 0px 10px yellow;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

section {
    background-image: url(../imagens/founder.jpg);
    padding-top: 25%;
    padding-bottom: 25%;
    padding: auto;
    background-attachment: fixed;
    background-position: center;
}
div.quadrada {
    width: 300px;
    height: 150px;
    margin: 2%;
    border: 2px solid yellow;
    background-color: rgb(77, 102, 8);
    display: inline-block;
    border-radius: 10px;
    padding-top: 20px;
    font-variant: small-caps;

}

div.retangulo {
    width: auto;
    height: 100px;
    border: 1px solid yellow;
    border-radius: 10px;
    margin: 1.5%;
    padding-top: 2vh;
    background-image: url(../imagens/wallpaper001.jpg);
    background-attachment: fixed;
    
}

main video{
    margin: auto;
    width: 70%;
    min-height: auto;
    max-height: auto;
    display: block;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

video#foundo {
    border: 1px solid yellow;
    padding-left: auto;
    padding-right: auto;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgba(3, 3, 88, 0.555);
    background-attachment: fixed;

}

main img{
    margin: auto;
    width: 100%;
    padding-top: 1vh;
}

main img.pequena {
    margin: auto;
    width: 50%;
    height: auto;
    padding-top: 4vh;


}

main > p{
    margin: auto;
    display: block;
}
body{
    background-color: var(--cor1);
    background-image: url(wallpaper001.jpg);
    background-attachment: fixed;
    
}



footer{
    background-color: var(--co r2);
}